body
{
  font-size: 15pt;
  background-color:Beige;
}


.bandeau  {
  width:100%;
  min-width:400px;
	font-size: 12pt;
	border-bottom:thin dotted;
}

.elementsbandeau {
  border: 1px solid Black;
  background-color:Black
	color:White;
	padding:1%;
  }	

.colonneGauche  {
	/*float:left;*/
	position:absolute;
	width:15%;
	font-size: 10pt;
}
	
.menulist {
	color:red;
}	
.elementsmenulist {
  background-color:White;
  border-right:1em solid Black;
  color:Blue;
}

	/*margin:20px auto;*/
.colonneDroite {
 /* position:relative;*/
 border: 1px solid Black;
 	margin-left:20%;
/*	width:70%;*/
	font-size: 10pt;
}

.nom {
	width:100%;
	font-size: 14pt;
}

.date_maj_web {
	font-size: 12pt;
	margin:2%;
	text-align:justify;
	color:BlueViolet;
	font-weight:bold;
}
.repertoire {
	font-size: 10pt;
	margin:2%;
}
.Stat_Image_Base64 {
	float:right;
}

.Stat_Tableau {
}

.listepisodes{
  border: 1px solid Black;
 	margin-left:20%;
}
.lstEp h4{
background:red; 
}
.elementslistepi{
display:none;  
}
.elementslstEp {
  display:none;
	color:red;
}
.elementslstEpserie {
	display:none
}
.elementslstEpnum_saison {
	color:Fuchsia;
}
.elementslstEpnum_episodes {
	color:Gray;
}
.elementslstEpsequentiel {
	color:Bisque;
}
.elementslstEpnom {
	color:LightBlue;
}
.elementslstEpairdate {
	color:BlueViolet;
}
.elementslstEpencours {
	color:Pink;
}
.elementslstEptimestamp_completer {
	color:Salmon;
}
