body
{
  font-size: 15pt;
}


#menu  {
	float:left;
	width:15%;
	font-size: 10pt;
}
	
	
#contenu {
	margin:20px auto;
	position:relative;
	height:600px;
	width:70%;
	font-size: 10pt;
}

#nom {
	width:100%;
	font-size: 14pt;
}
#Stat_Image_Base64 {
	width:40%;
}
#Stat_Tableau {
	width:60%;
}

